/* Contenedor principal para centrar contenido e imagen */
.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    background-color: #f7f7f7;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}



/* Contenedor de los detalles del evento */
.container {
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Arial', sans-serif;
}

/* Estilo para el título principal */
.Titulo {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

/* Estilo para el subtítulo del evento */
.Subtitulo {
    font-size: 2rem;
    color: #34495e;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Estilo para la descripción del evento */
.Descripcion {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 20px;
    line-height: 1.7;
}

/* Estilo para la hora de inicio */
.Hora {
    font-size: 1.1rem;
    color: #8e44ad;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Estilo para el botón de inscripción */
.AnotarmeBtn {
    display: inline-block;
    padding: 12px 28px;
    font-size: 1.125rem;
    color: #ffffff;
    background-color: #e74c3c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

.AnotarmeBtn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

/* Estilo para la imagen */
.Imagen {
    width: 500px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {
    .todo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container {
        max-width: 100%;
    }

    .Imagen {
        width: 100%;
        margin-bottom: 20px;
    }
}
