.piePagina {
    width: 100%;
    background-color: #000000;
  }
  
  .piePagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
  }
  
  .piePagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .piePagina .grupo1 .box img {
    width: 250px;
  }
  
  .piePagina .grupo1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .piePagina .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
  }
  
  .piePagina .grupo1 .redSocial a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  
  .piePagina .grupo1 .redSocial a:hover {
    color: rgb(99, 108, 108);
  }
  
  .piePagina .grupo2 {
    background-color: #181c20;
    padding: 15px 10px;
    text-align: center;
    color: white;
  }
  
  .piePagina .grupo2 small {
    font-size: 18px;
  }
  